<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " ko" }}">

{%- include head.html -%}

<body>

  <div class="progress-container">
    <div class="progress-bar" id="indicator"></div>
  </div>

  <div id="loading">
    <img id="loading-image" src="/img/loading.gif" alt="Loading..." />
  </div>

  <div class="modal">
    <div class="modalBox">
    </div>
  </div>

  {%- include views/header.html -%}

  {%- include views/banner.html -%}

  {%- include extensions/hashlocate.html -%}

  {%- include extensions/theme-toggle.html -%}

  {%- include extensions/click-to-top.html -%}

  <!-- comet : sidebar -->
  <main class="page-content" aria-label="Content">
    <div class="sidebar-left">
      {%- include sidebar-left.html -%}
    </div>
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {%- include views/footer.html -%}

</body>

</html>